* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #ffcd2a;
  --background-color: #292930;
  --secondary-background-color: #323338;
  --primary-font: "Karla", sans-serif;
  --secondary-font: "Merriweather Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}
