* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #fff;
  --secondary-color: #ffcd2a;
  --background-color: #292930;
  --secondary-background-color: #323338;
  --primary-font: "Karla", sans-serif;
  --secondary-font: "Merriweather Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--secondary-color);
  background-color: var(--secondary-background-color);
  padding-left: 35px;
  border-radius: 50%;
  position: absolute;
  top: 437px;
  margin: 0;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #51535a;
}

.swiper-button-next {
  right: 96px;
  padding: 30px;
}

.swiper-button-prev {
  left: 125px;
  padding: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px;
}
